<nav class="navbar navbar-default doc-navbar" role="navigation">
    
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">图样博客</a>
    </div>
  
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        <li><a href="/">首页</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
    
  </div>
  
</nav>
<div class="container">
  <article class="post-row">
    <a href="/show/<%= data.id %>">
      <h1 class="post-title">
      <%= data.title %>
      </h1>
    </a>
    <p class="post-meta" style="margin-bottom: 3.4rem;">
      <%= data.author %> <%= Date_Format(data.createdAt) %>
    </p>
    <p class="post-excerpt">
      <%- data.content %>
    </p>
  </article>
</div>
<footer class="site-footer">
  &copy; 2017 Wu Bin
</footer>